*.pyc
*.ipynb_checkpoints*
*.swp
*/.ropeproject
*.jpg
*.jpeg
*.png
*.mypy_cache/*
*/.mypy_cache
*plugins_snapshot.json
p1/py_src/demos/.mypy_cache/*
.ropeproject/*
.ropeproject/
.virtual_documents/
.virtual_documents/*
*.data.json
*.meta.json
