*.pyc
*.ipynb_checkpoints*
*.swp
*/.ropeproject
*.jpg
*.jpeg
*.png
*.mypy_cache/*
p1/py_src/demos/.mypy_cache/*
.ropeproject/*
.ropeproject/
.virtual_documents/
.virtual_documents/*
*.data.json
*.meta.json
